.App {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 1000px;
  width: 1000px;
}

.objects {
  display: flex;
  justify-content: space-between;
  width: 500px;
}